#log_container{
    height: 200px;
    width: 300px;
    border: 1px solid black;
    -moz-border-radius: 4px;
    overflow : auto;
}
.log{
    font-size: .7em;
}
.log:nth-child(odd){
    background: lightgray;
}
.endturn{
    border-bottom: 2px solid gray;
}

#combatant_list_container{
    width: 300px;
    display:block;
}
.name{
    width: 150px;
    display: inline-block;
}

.hp{
    display: inline;
    float: right;
}
.maxhp{
    width: 30px;
    display: inline-block;
    text-align: center;
}

.round{
    width: 50px;
    display: inline-block;
    text-align: center;
}

.combatant{
    padding: 2px;
    padding-left: 5px;
    -moz-border-radius: 4px;
    border: 1px solid black;
    margin: 1px;
}

#combatant{
    background: chartreuse;
    -moz-border-radius: 0px;
    border: none;
    margin: 0px;
}
div#combatant:hover{
    /* blank for no hover effect*/
}

div.combatant:hover {
    background: #00BFFF;
}

div.combatant.selected:hover {
    background: #99ddee;
}

button.action {
    float: bottom;
}


.player{
    background: rgba(0,128,0,1);
}
.player.selected{
    background: rgba(0,128,0,.5);
}

.monster {
    background: rgba(139,0,0,1);
}
.monster.selected {
    background: rgba(139,0,0,.5);
}

.bloodied{
    border:1px solid red;
}

.dying{
    background: gray;
    border: 1px solid red;
}

.dying.selected{
    background: lightgray;
}

/*damaged is below dead so that the text will still flash red*/
.dead{
    color: white;
    background: black;
}

.healed{
    color: limegreen;
/*    //rgb(0,255,0);*/
}
.damaged{
    color:red ;
}

