#sidebar{
    float: left;
    border: 1px solid black;
    height: 500px;
}
#content{
    float: left;
}
label{
    width: 100px;
    display: inline-block;
}
.drophover{
    background: linen;
    width: 300px;
    display: inline-block;
}
.selected{
    background: rgba(0,0,0,.5);
}
#reserve_title{
    padding: 3px;
    background: tan;
}
/**************************
Combat log
***************************/
#log_container{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    overflow : auto;
    display: inline-block;
}
.log{
    font-size: .7em;
}
.log:nth-child(odd){
    background: lightgray;
}
.endturn{
    border-bottom: 2px solid gray;
}
/**************************
Actions
***************************/
.action{
    color: black;
    padding:3px;
    height:20px;
    width: 150px;
    display: inline-block;
    text-decoration: none;
}
a.action:hover{
    background: lightblue;
}
a.action:visited{
    color: black;
}

#action_container{
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    height: 300px;
    width: 300px;
}
#add_combatant_container{
    height: 0px;
    overflow: hidden;
}
#amount_container{
    height: 0px;
    overflow: hidden;
}
#amount:focus{
    border: 2px solid orange;
}
/**************************
Combatant List
***************************/
/*#combatant_list_container{*/
.combatant_list{
    vertical-align: top;
    width: 300px;
    height: 300px;
    display: inline-block;
    overflow: auto;
    border: 1px solid black;
}
.name{ width: 150px; display: inline-block; }
.hp{ display: inline; float: right; }
.maxhp{ width: 30px; display: inline-block; text-align: center; }
.round{ width: 50px; display: inline-block; text-align: center; }
.combatant{
    height: 20px;
    width: 288px;
    padding: 2px;
    padding-left: 5px;
    -moz-border-radius: 4px;
    border: 1px solid black;
    margin: 1px;
    color: black;
    text-decoration: none;
    display: inline-block;
}
#combatant_list_heading{
    background: tan;
    margin: 0px;
}
#combatant{
    border: none;
    background: none;
}
a.combatant:hover {
/*    background: #00BFFF; */
    background: rgba(128,128,128,.5);
}
a.coombatant:visited{
    color: black;
}
div.combatant.selected:hover{ background: #99ddee; }
.player{ background: rgba(0,128,0,1); }
.player.selected{ background: rgba(0,128,0,.5); }
.monster { background: rgba(139,0,0,1); }
.monster.selected { background: rgba(139,0,0,.5); }
.bloodied{ border:1px solid red; }
.dying{ background: gray; border: 1px solid red; }
.dying.selected{ background: lightgray; }
/*dead  is above damaged so that the text will still flash red*/
.dead{ color: white; background: black; }
.healed{ color: limegreen;/*    //rgb(0,255,0);*/}
.damaged{ color:red ; }

.player.ui-selecting{ background: rgba(128,128,128,.5); }
.player.ui-selected{ background: rgba(0,128,0,.5); }

.monster.ui-selecting{ background: rgba(128,128,128,.5); }
.monster.ui-selected{ background: rgba(139,0,0,.5); }